.u-section-1 .u-sheet-1 {
  min-height: 65px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 7px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-form-1 {
  margin-bottom: 60px;
  height: 313px;
  margin-top: 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-form-group-8 {
  margin-left: 0;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-2 .u-form-1 {
    margin-bottom: 0;
  }
}